<h1>Applications#new</h1>
<p>Find me in app/views/applications/new.html.erb</p>
<div id="error">
	Applicaton has saved
</div>

<input type="text" id="student_name"/>
<input type="text" id="student_surname"/>
<input type="text" id="student_number"/>
<input type="text" id="student_class"/>
<input type="button" id="complete_button" />


<table id="students_list">
</table>
